################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/eShop
/eShop.Frontend/bin
/eShop.Frontend/obj
/eShop.APIGateway/bin
/eShop.APIGateway/obj
