################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/eShop
/eShop.Frontend/bin
/eShop.Frontend/obj
/eShop.APIGateway/bin
/eShop.APIGateway/obj
/eShop.Product.API/bin
/eShop.Product.API/obj
/eShop.ProductEntities/bin
/eShop.ProductEntities/obj
/InternalServer/bin
/InternalServer/obj
/eShop.Common/bin
/eShop.Common/obj
