################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/eShop
/eShop.Frontend/bin
/eShop.Frontend/obj
/eShop.APIGateway/bin
/eShop.APIGateway/obj
/eShop.Product.API/bin
/eShop.Product.API/obj
/eShop.ProductEntities/bin
/eShop.ProductEntities/obj
/InternalServer/bin
/InternalServer/obj
/eShop.Common/bin
/eShop.Common/obj
/eShop.IdentityEntities/bin
/eShop.IdentityEntities/obj
/eShop.Identity.API/bin
/eShop.Identity.API/obj
/eShop.InternalServer/bin
/eShop.InternalServer/obj
/eShop.Order.API/bin
/eShop.Order.API/obj
/eShop.OrderEntities/bin
/eShop.OrderEntities/obj
/eShop.Payment.API/bin
/eShop.Payment.API/obj
/eShop.PaymentEntities/bin
/eShop.PaymentEntities/obj
/eShop.Reporting.API/bin
/eShop.Reporting.API/obj
